@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html {
    background-image: url('images/lock-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*application.hbs styling*/
.menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5em;
}

.footer {
    position: fixed;
    bottom: 0;
    font-size: 2em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}



/*landing page styling, welcome message*/
.home-messages {
    display: flex;
    position: absolute;
    top: 30%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.key-button {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color: #CE9178;
	font-family:Arial;
	font-size: 2em;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
    width: 15%;
    margin-left: 42%;
    margin-right: 50%;
}
.key-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.keybutton:active {
	position:relative;
	top:1px;
}

.link1 {
    color: white;
    font-size: 2em;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    margin-right: 0.5em;
}

.link2 {
    margin-right: 1em;
    color: white;
    font-size: 2em;
    font-family: 'Playfair Display', serif;
}

.welcome {
    font-family: 'Playfair Display', serif;
}

.message-position {
    display: flex;
    justify-content: center;
}

.message1, .message2 {
    display: none;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 2px #333;
    animation: fadeAndScale 2s cubic-bezier(.58, .21, .33, 1.28);
    transform-origin: center bottom;
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale3d(.75, .75, 1);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.social-icons {
    margin-right: 1em;
    margin-bottom: 0.5em;
	color: white;
}

/*lock-login.hbs*/
.lock-login {
    margin-top: 15%;
    margin-left: 33%;
    animation: fadeAndScale 2s cubic-bezier(.58, .21, .33, 1.28);
    transform-origin: center bottom;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-button {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color: #CE9178;
	 font-family: 'Playfair Display', serif;
	font-size: 2em;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
    width: 20%;
    margin-left: 15%;
    margin-right: 15%;
}
.login-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.login-button:active {
	position:relative;
	top:1px;
}

/*lock-control.hbs*/

.controller-page {
    display: flex;
    justify-content: space-around;
    margin: 12%;
    animation: fadeAndScale 2s cubic-bezier(.58, .21, .33, 1.28);
    transform-origin: center bottom;
}

.controller-label {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
}

#lock, #unlock {
    font-size: 4em;
}

#lock-button, #unlock-button {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color: #CE9178;
	font-size: 2em;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
    width: 30vw;
}
#lock-button:hover, #unlock-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
#lock-button:active, #unlock-button:active {
	position:relative;
	top:1px;
}