@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html {
    background-image: url('images/lock-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*application.hbs styling*/
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    position: fixed;
    bottom: 0;
    font-size: 2em;
    margin-left: 33%;
    margin-right: 20%;
}



/*landing page styling, welcome message*/
.home-messages {
    display: flex;
    position: absolute;
    top: 30%;
    width: 100%;
    justify-content: center;
}

.link1 {
    margin-left: 15%;
    color: black;
    font-size: 2em;
    font-family: 'Playfair Display', serif;
}

.link2 {
    margin-right: 15%;
    color: black;
    font-size: 2em;
    font-family: 'Playfair Display', serif;
}

.welcome {
    font-family: 'Playfair Display', serif;
}

.message1, .message2 {
    display: none;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: black;
    text-shadow: 2px 2px 2px #333;
    animation: fadeAndScale 2s cubic-bezier(.58, .21, .33, 1.28);
    transform-origin: center bottom;
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale3d(.75, .75, 1);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

/*lock-login.hbs*/
.lock-login {
    margin-top: 15%;
    margin-left: 33%;
    animation: fadeAndScale 2s cubic-bezier(.58, .21, .33, 1.28);
    transform-origin: center bottom;
}

/*lock-control.hbs*/

.controller-page {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 25%;
    max-width: 50%;
    animation: fadeAndScale 2s cubic-bezier(.58, .21, .33, 1.28);
    transform-origin: center bottom;
}

.controller-label {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
}

#lock, #unlock {
    font-size: 4em;
}

#lock-button {
    margin-bottom: 2em;
}