<div class="container">
    <div class="menu">
        {{#link-to 'lock-control' class="link1"}}
            Controller
        {{/link-to}}
        {{#link-to 'lock-login' class="link2"}}
            Lock login
        {{/link-to}}  
    </div>
    <div class="content">
        {{outlet}}
    </div>
</div>