<div class="container">
    <div class="menu">
            {{#link-to 'lock-control'}}
                Controller
            {{/link-to}}
            {{#link-to 'index'}}
                <h1>
                    <em>Facekey</em>
                </h1>
            {{/link-to}}
            {{#link-to 'lock-login'}}
                Lock login
            {{/link-to}}
    </div>
    <div class="body">
        {{outlet}}
    </div>
</div>