<div class="jumbo">
    <div>
        <h2>Welcome!</h2>
        <p>Thank you for visiting my capstone projects webpage</p>
        {{#link-to 'lock-login' class="button"}}
            Another lock login
        {{/link-to}}
    </div>
</div>
