<div class="lock-login">
    <form class="pure-form login-form">
        <fieldset class="pure-group">
            <input type="text" class="pure-input-1-2" placeholder="Username">
            <input type="text" class="pure-input-1-2" placeholder="Password">
        </fieldset>
        {{#link-to 'lock-control'}}
            <button type="submit" class="login-button">Sign in</button>
        {{/link-to}}
    </form>
</div>