<div class="controller-page">
            <h2>Lock Controls</h2>
            <p>This is the dope page that wil control the lock</p>
        <div class="button-controls">
            <button>OPEN</button>
            <button>CLOSE</button>
        </div>
    {{#link-to 'lock-control'}}
        Logout
    {{/link-to}}
</div>
