<div class="controller-page">
    <h2 class="controller-label">Lock Controls</h2>
    {{#status-change-locked}}
    <button id="lock-button" class="button-xlarge pure-button pure-button-primary"><i id="lock" class="fa fa-lock" aria-hidden="true"></i></button>
    {{/status-change-locked}}
    {{#status-change-unlocked}}
    <button id="unlock-button" class="button-xlarge pure-button pure-button-primary"><i id="unlock" class="fa fa-unlock" aria-hidden="true"></i></button>
    {{/status-change-unlocked}}
</div>
