<div>
    <h1>This is the lock login page</h1>
    <form class="lock-login">
        <input type="text" placeholder="username">
        <input type="password" placeholder="password">
    </form>
</div>